# variables que se necesitan el el backend

#NODE_ENV=

# MongoDB URI
#MONGO_DB_URI=

#secret jwt
#JWT_SECRET=
#REFRESH_SECRET= 

#Stripe secret key y public key
#STRIPE_SECRET_KEY=

#cloudinary manejo de imagenes

#CLOUDINARY_NAME=
#CLOUDINARY_URL=
#CLOUDINARY_API_KEY=
#CLOUDINARY_SECRET_KEY=